.projectCarousel {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;

  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
    object-position: center !important;
  }
}